<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/demo.css">
    <title></title>

</head>
<body>
    <h1>Here is the your I.D.</h1>
    <div class="gallery">
        <div class="image-box active">
            <img src="../static/images/img/output1.jpg" />
        </div>
        <div class="image-box">
            <img src="../static/images/img/output2.jpg" />
        </div>
    </div>
    <button type="button" class="button">
        <span class="button__text">Download</span>
        <span class="button__icon">
          <a href="download"><ion-icon name="cloud-download-outline"></a>
        </span>
      </button>
      <ul>
        <li class="next" ><a href="contact"><span></span></a></li>
      </ul>
      <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>